{% trans_default_domain 'FOSUserBundle' %}

<div class="well">
    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">

        <div class="form-group">
            {{ form_label(form.firstName, 'Your first name') }}
            {{ form_errors(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>

        {{ form_rest(form) }}

        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary" />
    </form>
</div>

<div class="well">
    <a href="{{ path('fos_user_change_password') }}">Change my password</a>
</div>