{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% if form.parent == null %}
                <div class="alert alert-danger">
                {% for error in errors %}
                    <p>{{ error.message }}</p>
                {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">
                {% for error in errors %}
                    {{ error.message }}
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block form_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control'}}) }}
    </div>
{% endblock form_row %}