{% if app.user %}
    {% set current_route = app.request.attributes.get('_route') %}

    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('user_timeline', { 'slug': app.user.slug }) }}">
                    {{ app.user }}
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {#<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>#}

                    <li {% if current_route == 'user_timeline' and user is defined and app.user == user %}class="active"{% endif %}>
                        <a href="{{ path('user_timeline', { 'slug': app.user.slug }) }}">My timeline</a>
                    </li>

                    <li {% if current_route == 'activities' %}class="active"{% endif %}>
                        <a href="{{ path('activities') }}">Activities</a>
                    </li>

                    <li {% if current_route == 'user_followed' and user is defined and app.user == user %}class="active"{% endif %}>
                        <a href="{{ path('user_followed', { 'slug': app.user.slug }) }}">Followed</a>
                    </li>

                    <li {% if current_route == 'user_followers' and user is defined and app.user == user %}class="active"{% endif %}>
                        <a href="{{ path('user_followers', { 'slug': app.user.slug }) }}">Followers</a>
                    </li>

                    <li {% if current_route in ['fos_user_profile_edit', 'fos_user_change_password', 'fos_user_profile_show'] and app.user %}class="active"{% endif %}>
                        <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            Logout <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endif %}