{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="alert alert-info">
        {{ 'registration.confirmed'|trans({'%username%': user.firstName}) }}
    </div>


    {% if app.session is not empty %}
        {% set lastVisitedRestaurantUrl = app.session.get('last_visited_restaurant_url') %}
        {% set lastVisitedRestaurantName = app.session.get('last_visited_restaurant_name') %}

        {% if lastVisitedRestaurantUrl is not empty and lastVisitedRestaurantName is not empty %}
            <div class="well">
                Return to this restaurant? <a href="{{ lastVisitedRestaurantUrl }}">{{ lastVisitedRestaurantName }}</a>
            </div>
        {% else %}

            {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
            {% if targetUrl is not empty %}
                <div class="well">
                    <a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
                </div>
            {% endif %}
        {% endif %}

    {% endif %}

    <div class="well">
        Now, <a href="{{ path('restaurant_search') }}">Search a restaurant</a> and add your first dish review!
    </div>
{% endblock fos_user_content %}
