{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Sign up</h1>
            </div>
            <div class="panel-body">

                <p>Of course, it's free!</p>

                {{ form_errors(form) }}

                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">

                    <div class="form-group">
                        {{ form_label(form.firstName, 'Your first name') }}
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email, 'Your email') }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.first, 'Your password') }}
                        {{ form_errors(form.plainPassword) }}
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, 'Retype your password') }}
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.recaptcha, 'Are you a human?') }}
                        {{ form_errors(form.recaptcha) }}
                        {{ form_widget(form.recaptcha, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {{ form_rest(form) }}

                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Submit</button>


                {{ form_end(form) }}
            </div>
        </div>


        <div class="well">
            <a href="{{ path('fos_user_security_login') }}">Already have an account? Login!</a>
        </div>
    </div>
</div>