{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-body">

                {% if form_errors(form) %}
                    <div class="alert alert-danger">{{ form_errors(form) }}</div>
                {% endif %}

                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST">

                    {{ form_widget(form) }}

                    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">Submit</button>

                {{ form_end(form) }}
            </div>
        </div>

        {#<div>#}
            {#{{ form_label(form.task) }}#}
            {#{{ form_errors(form.task) }}#}
            {#{{ form_widget(form.task) }}#}
        {#</div>#}



        <div class="well">
            <a href="{{ path('fos_user_security_login') }}">Already have an account? Login!</a>
        </div>
    </div>
</div>