{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Followed',
    'description': 'Followed'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}


{% block body %}

    {% if app.user and user is defined and app.user == user %}
        {% include 'ApplicationMainBundle:Common:user_menu.html.twig' %}
    {% endif %}

    <h1>Followed</h1>

    {% if user.followed|length %}
        <div class="well">
            These are the people you follow.
            See their reviews in your <a href="{{ path('activities') }}">Activities page</a>.
        </div>


        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th>Reviews</th>
                <th>Last review</th>
            </tr>
            </thead>

            <tbody>
            {% for followed in user.followed %}
                {% set u = followed.userFollowed %}
                <tr>
                    <td>
                        {% include 'ApplicationMainBundle:Common:user_link.html.twig' with {'user': u} %}
                        <a href="{{ path('user_timeline', {'slug':u.slug}) }}">{{ u }}</a>
                    </td>
                    <td>
                        {{ u.reviews|length }}
                    </td>
                    <td>
                        {% if u.reviews|length %}
                            {% set last_review = u.reviews[u.reviews|length - 1] %}
                            {% if last_review %}
                                <a href="{{ path('dish_show', last_review.dish.paramsForUrl) }}">
                                    {{ last_review.dish.name }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="well">
            <p>
                <b>Nobody followed by you.</b>
            </p>
            <p>
                <a href="{{ path('users_top') }}" class="btn btn-default">Search people to follow</a>
            </p>
        </div>
    {% endif %}

{% endblock %}