{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Followers',
    'description': 'Followers'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}


{% block body %}

    {% if app.user and user is defined and app.user == user %}
        {% include 'ApplicationMainBundle:Common:user_menu.html.twig' %}
    {% endif %}

    <h1>Followers</h1>

    {% if user.followers|length %}
        <div class="well">
            These are the people who follow you.
            They see your reviews in their <a href="{{ path('activities') }}">Activities page</a>.
        </div>

        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th>Reviews</th>
                <th>Last review</th>
            </tr>
            </thead>

            <tbody>
            {% for follower in user.followers %}
                {% set u = follower.user %}
                <tr>
                    <td>
                        <a href="{{ path('user_timeline', {'slug': u.slug}) }}">{{ u }}</a>
                    </td>
                    <td>
                        {{ u.reviews|length }}
                    </td>
                    <td>
                        {% if u.reviews|length %}
                            {% set last_review = u.reviews[u.reviews|length - 1] %}
                            {% if last_review %}
                                <a href="{{ path('dish_show', last_review.dish.paramsForUrl) }}">
                                    {{ last_review.dish.name }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="well">
            <p><b>Oops... Nobody is following you!</b></p>
            <p>Don't panic ;) Add reviews and follow people and be sure you'll get followers!</p>
        </div>
    {% endif %}

{% endblock %}