{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Food lovers',
    'description': 'Dishes reviews of early adopters users'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}


{% block body %}

    <h1>
        F<span style="font-size: 80%"><span class="glyphicon glyphicon-heart"></span><span class="glyphicon glyphicon-heart"></span></span>D
        Lovers
    </h1>

    <div class="well">These are the GimmeTheMenu early-adopters.</div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th>User</th>
            <th>Reviews</th>
            <th>Last review</th>
        </tr>
        </thead>

        <tbody>
        {% for user in users %}
        <tr>
            <td>
                <a href="{{ path('user_timeline', {'slug':user.slug}) }}">{{ user }}</a>
                {% if app.user and app.user.isFollowing(user) %}
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok"></span>
                        Followed
                    </span>
                {% endif %}
            </td>
            <td>
                {{ user.reviews|length }}
            </td>
            <td>
                {% if user.reviews|length %}
                    {% set last_review = user.reviews[user.reviews|length - 1] %}
                    {% if last_review %}
                        <a href="{{ path('dish_show', last_review.dish.paramsForUrl) }}">
                            {{ last_review.dish.name }}
                        </a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}