{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Followings',
    'description': 'Followings'
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}


{% block body %}

    <h1>Followings</h1>

    {% if user.followings|length %}
        <div class="well">
            These are the people you follow.
        </div>


        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>User</th>
                <th>Reviews</th>
                <th>Last review</th>
            </tr>
            </thead>

            <tbody>
            {% for user in user.followings %}
                <tr>
                    <td>
                        <a href="{{ path('user_timeline', {'slug':user.slug}) }}">{{ user }}</a>
                    </td>
                    <td>
                        {{ user.reviews|length }}
                    </td>
                    <td>
                        {% if user.reviews|length %}
                            {% set last_review = user.reviews[user.reviews|length - 1] %}
                            {% if last_review %}
                                <a href="{{ path('dish_show', last_review.dish.paramsForUrl) }}">
                                    {{ last_review.dish.name }}
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="alert alert-danger">
            It's sad. Nobody followed.
        </div>
        <p>
            <a href="{{ path('users_top') }}" class="btn btn-default">Search people to follow here</a>
        </p>
    {% endif %}

{% endblock %}