{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }}'s timeline{% endblock %}

{% block body %}

    <h1>
        {{ user.firstName }}'s timeline
    </h1>

    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                <dl>
                    {#<dt>Apr 2014</dt>#}

                    {% set iterator = 0 %}
                    {% for log in logs %}
                        {% set iterator = iterator+1 %}

                        <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix">
                            <div class="circ"></div>

                        {% if log['menuFile'] is defined %}

                            {% set restaurant_url = path('restaurant_show', {
                                'country_slug': log['menuFile'].restaurant.country.slug,
                                'locality_slug': log['menuFile'].restaurant.locality.slug,
                                'restaurant_slug': log['menuFile'].restaurant.slug
                            }) %}

                            <div class="time">{{ log['menuFile'].createdAt|localizeddate('medium', 'none') }}</div>
                            <div class="events">
                                <div class="events-body">
                                    <p>
                                        <span class="label label-info">Added menu</span>
                                        <a href="{{ restaurant_url }}">{{ log['menuFile'].restaurant.name }}</a>
                                    </p>
                                </div>
                            </div>

                        {% elseif log['dish'] is defined %}

                            {% set dish_url = path('dish_show', {
                                'country_slug': log['dish'].restaurant.country.slug,
                                'locality_slug': log['dish'].restaurant.locality.slug,
                                'restaurant_slug': log['dish'].restaurant.slug,
                                'dish_slug': log['dish'].slug
                            }) %}

                            {% set restaurant_url = path('restaurant_show', {
                                'country_slug': log['dish'].restaurant.country.slug,
                                'locality_slug': log['dish'].restaurant.locality.slug,
                                'restaurant_slug': log['dish'].restaurant.slug
                            }) %}

                            <div class="time">{{ log['dish'].createdAt|localizeddate('medium', 'none') }}</div>
                            <div class="events">
                                <div class="events-body">
                                    <p>
                                        <span class="label label-info">Added dish</span>
                                        <a href="{{ dish_url }}">{{ log['dish'].name }}</a>
                                        @ <a href="{{ restaurant_url }}">{{ log['dish'].restaurant.name }}</a>
                                    </p>
                                </div>
                            </div>

                        {% elseif log['review'] is defined %}

                            {% set dish_url = path('dish_show', {
                                'country_slug': log['review'].dish.restaurant.country.slug,
                                'locality_slug': log['review'].dish.restaurant.locality.slug,
                                'restaurant_slug': log['review'].dish.restaurant.slug,
                                'dish_slug': log['review'].dish.slug
                            }) %}

                            {% set restaurant_url = path('restaurant_show', {
                                'country_slug': log['review'].dish.restaurant.country.slug,
                                'locality_slug': log['review'].dish.restaurant.locality.slug,
                                'restaurant_slug': log['review'].dish.restaurant.slug
                            }) %}

                            <div class="time">{{ log['review'].when|localizeddate('medium', 'none') }}</div>
                            <div class="events">

                                {% if log['review'].photoName %}
                                <div class="pull-left">
                                    <a href="{{ dish_url }}"><img class="events-object img-rounded" src="{{ vich_uploader_asset(log['review'], 'dish_photo') }}" width="96"></a>
                                </div>
                                {% endif %}

                                <div class="events-body">
                                    <h4 class="events-heading">
                                        <a href="{{ dish_url }}">{{ log['review'].dish.name }}</a>
                                        <br>@ <a href="{{ restaurant_url }}">{{ log['review'].dish.restaurant.name }}</a>
                                    </h4>
                                    <p>{{ log['review'].review }}</p>
                                    <p>{% include 'ApplicationMainBundle:Common:rating.html.twig' with {'rating': log['review'].rank} %}</p>
                                </div>
                            </div>

                        {% endif %}
                        </dd>
                    {% endfor %}

                    {% set iterator = iterator+1 %}

                    <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix">
                        <div class="circ"></div>
                        <div class="time">{{ user.createdAt|localizeddate('medium', 'none') }}</div>
                        <div class="events">
                            <div class="events-body">
                                <p>Beginning on GimmeTheMenu</p>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
{% endblock %}