{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': user.firstName ~ '\'s timeline',
    'description': 'Dishes reviews of ' ~ user.firstName
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}


{% block body_attr %}data-spy="scroll" data-target="nav"{% endblock %}


{% block body %}

    <h1>
        {{ user.firstName }}'s timeline
    </h1>

    {% if app.user and app.user == user %}

        <div class="row">
            <div class="col-xs-6">
                <a href="{{ path('fos_user_profile_edit') }}">
                    <span class="label label-info">
                    My timeline is {{ user.isTimelinePublicLabel }}
                    </span>
                </a>
            </div>

            {% if user.isTimelinePublic %}
            <div class="col-xs-6">
                {# addthis sharing tools #}
                <div class="addthis_sharing_toolbox pull-right"></div>
            </div>
            {% endif %}
        </div>

    {% elseif app.user %}

        {% if app.user.isFollowing(user) %}
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-ok"></span>
                        Followed
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('unfollow_user', {'slug': user.slug}) }}">Unfollow</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div>

        {% else %}
            <div>
                <a href="{{ path('follow_user', {'slug': user.slug}) }}" class="btn btn-info btn-sm">
                    Follow this food lover
                </a>
            </div>
        {% endif %}

    {% endif %}

    {#{% if logs|length > 1 %}#}
        {#<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">#}
            {#<div class="container">#}
                {#<ul class="nav nav-pills">#}
                    {#<li class="active" id="timeline_filter_reviews"><a href="#timeline">Only reviews</a></li>#}
                    {#<li id="timeline_filter_all"><a href="#timeline">All activity</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</nav>#}
    {#{% endif %}#}

    {% if not user.isTimelinePublic and (not app.user or app.user and app.user.id != user.id) %}
        <div class="alert alert-danger">
            Sorry, this timeline is private!
        </div>
    {% else %}

        <br>
        {% include 'ApplicationMainBundle:Timeline:timeline.html.twig' %}

    {% endif %}
{% endblock %}