{% extends '::base.html.twig' %}

{% block title %}{{ user.firstName }}'s timeline{% endblock %}

{% block body %}

    <h1>
        {{ user.firstName }}'s timeline
    </h1>

    {% if logs|length > 1 %}
        <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
            <div class="container">
                <ul class="nav nav-pills">
                    <li class="active" id="timeline_filter_reviews"><a href="#timeline">Only reviews</a></li>
                    <li id="timeline_filter_all"><a href="#timeline">All activity</a></li>
                </ul>
            </div>
        </nav>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                <a name="timeline"></a>
                <dl>
                    {#<dt>Apr 2014</dt>#}

                    {% set iterator = 0 %}
                    {% for log in logs %}
                        {% if log['menuFile'] is defined %}

                            {% set iterator = iterator+1 %}

                            {% set restaurant_url = path('restaurant_show', {
                                'country_slug': log['menuFile'].restaurant.country.slug,
                                'locality_slug': log['menuFile'].restaurant.locality.slug,
                                'restaurant_slug': log['menuFile'].restaurant.slug
                            }) %}

                            <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix collapse">
                                <div class="circ"></div>
                                <div class="time">{{ log['menuFile'].createdAt|localizeddate('medium', 'none') }}</div>
                                <div class="events">
                                    <div class="events-body">
                                        <p>
                                            <span class="label label-info">Added menu</span>
                                            <a href="{{ restaurant_url }}">{{ log['menuFile'].restaurant.name }}</a>
                                        </p>
                                    </div>
                                </div>
                            </dd>

                        {% elseif log['dish'] is defined %}

                            {% set iterator = iterator+1 %}

                            {% set dish_url = path('dish_show', {
                                'country_slug': log['dish'].restaurant.country.slug,
                                'locality_slug': log['dish'].restaurant.locality.slug,
                                'restaurant_slug': log['dish'].restaurant.slug,
                                'dish_slug': log['dish'].slug
                            }) %}

                            {% set restaurant_url = path('restaurant_show', {
                                'country_slug': log['dish'].restaurant.country.slug,
                                'locality_slug': log['dish'].restaurant.locality.slug,
                                'restaurant_slug': log['dish'].restaurant.slug
                            }) %}


                            <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix collapse">
                                <div class="circ"></div>

                                <div class="time">{{ log['dish'].createdAt|localizeddate('medium', 'none') }}</div>
                                <div class="events">
                                    <div class="events-body">
                                        <p>
                                            <span class="label label-info">Added dish</span>
                                            <a href="{{ dish_url }}">{{ log['dish'].name }}</a>
                                            @ <a href="{{ restaurant_url }}">{{ log['dish'].restaurant.name }}</a>
                                        </p>
                                    </div>
                                </div>
                            </dd>

                        {% elseif log['reviews'] is defined %}
                            {% for review in log['reviews'] %}

                                {% set iterator = iterator+1 %}

                                {% set dish_url = path('dish_show', {
                                    'country_slug': review.dish.restaurant.country.slug,
                                    'locality_slug': review.dish.restaurant.locality.slug,
                                    'restaurant_slug': review.dish.restaurant.slug,
                                    'dish_slug': review.dish.slug
                                }) %}

                                {% set restaurant_url = path('restaurant_show', {
                                    'country_slug': review.dish.restaurant.country.slug,
                                    'locality_slug': review.dish.restaurant.locality.slug,
                                    'restaurant_slug': review.dish.restaurant.slug
                                }) %}

                                <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix">
                                    <div class="circ"></div>

                                    <div class="time">{{ review.when|localizeddate('medium', 'none') }}</div>
                                    <div class="events">

                                        {% if review.photoName %}
                                        <div class="pull-left">
                                            <a href="{{ dish_url }}"><img class="events-object img-rounded" src="{{ vich_uploader_asset(review, 'dish_photo') | imagine_filter('thumb') }}" width="96"></a>
                                        </div>
                                        {% endif %}

                                        <div class="events-body">
                                            <h4 class="events-heading">
                                                <a href="{{ dish_url }}">{{ review.dish.name }}</a>
                                                <br>@ <a href="{{ restaurant_url }}">{{ review.dish.restaurant.name }}</a>
                                            </h4>

                                            <p>{% include 'ApplicationMainBundle:Common:rating.html.twig' with {'rating': review.rank} %}</p>
                                            <p>{{ review.review }}</p>
                                            {% if review.personalNote and app.user and app.user.id == review.user.id %}
                                                <blockquote class="blockquote-reverse">
                                                    <p><i>{{ review.personalNote }}</i></p>
                                                    <footer>My personal note</footer>
                                                </blockquote>
                                            {% endif %}
                                        </div>
                                    </div>
                                </dd>

                            {% endfor %}

                        {% elseif log['registerAt'] is defined %}

                            {% set iterator = iterator+1 %}

                            <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix {% if logs|length > 1 %}collapse{% endif %}">
                                <div class="circ"></div>
                                <div class="time">{{ log['registerAt']|localizeddate('medium', 'none') }}</div>
                                <div class="events">
                                    <div class="events-body alert alert-info">
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <i>The very first time on</i> GimmeThe<b>Menu</b>
                                    </div>
                                </div>
                            </dd>

                        {% endif %}
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}