{% set months = [] %}
{% set current_month = null %}
{% for log in logs %}
    {% if log['reviews'] is defined %}
        {% for review in log['reviews'] %}
            {% if current_month != review.when|date("m Y") %}
                {% set current_month = review.when|date("m Y") %}
                {% set months = months|merge([review.when|date("M Y")]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}



<div class="row">

    {% if months|length >= 2 %}
    <div class="hidden-xs col-sm-2">
        <nav data-spy="affix" class="affix">
            <ul class="nav nav-pills nav-stacked well" style="margin-top: 20px">
                {% for month in months %}
                    <li role="presentation">
                        <a href="#{{ month|replace({' ': '-'}) }}">
                            {{ month }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endif %}


    <div class="col-xs-12 {% if months|length >= 2 %}col-sm-10{% endif %}">
        <div id="timeline" class="timeline">
            <dl>

                {% set iterator = 0 %}
                {% for log in logs %}

                    {#
                    {% if log['menuFile'] is defined %}

                        {% set iterator = iterator+1 %}

                        {% set restaurant_url = path('restaurant_show', log['menuFile'].restaurant.paramsForUrl) %}

                        <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix collapse">
                            <div class="circ"></div>
                            <div class="time">{{ log['menuFile'].createdAt|localizeddate('medium', 'none') }}</div>
                            <div class="events">
                                <div class="events-body">
                                    <p>
                                        <span class="label label-info">Added menu</span>
                                        <a href="{{ restaurant_url }}">{{ log['menuFile'].restaurant.name }}</a>
                                    </p>
                                </div>
                            </div>
                        </dd>

                    {% elseif log['dish'] is defined %}

                        {% set iterator = iterator+1 %}

                        {% set dish_url = path('dish_show', log['dish'].restaurant.paramsForUrl) %}

                        {% set restaurant_url = path('restaurant_show', log['dish'].restaurant.paramsForUrl) %}


                        <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix collapse">
                            <div class="circ"></div>

                            <div class="time">{{ log['dish'].createdAt|localizeddate('medium', 'none') }}</div>
                            <div class="events">
                                <div class="events-body">
                                    <p>
                                        <span class="label label-info">Added dish</span>
                                        <a href="{{ dish_url }}">{{ log['dish'].name }}</a>
                                        @ <a href="{{ restaurant_url }}">{{ log['dish'].restaurant.name }}</a>
                                    </p>
                                </div>
                            </div>
                        </dd>
                        #}


                    {% set current_month = null %}
                    {% set current_day = null %}
                    {% set current_user = null %}
                    {% set current_restaurant = null %}

                    {% if log['reviews'] is defined and log['reviews']|length %}
                        {% for review in log['reviews'] %}

                            {% set dish_url = path('dish_show', review.dish.paramsForUrl) %}
                            {% set restaurant_url = path('restaurant_show', review.dish.restaurant.paramsForUrl) %}

                            {% if current_month != review.when|date("m Y") %}
                                {% set current_month = review.when|date("m Y") %}
                                <dt id="{{ review.when|date("M-Y") }}">{{ review.when|date("M Y") }}</dt>
                            {% endif %}

                            {% if current_day != review.when or current_user != review.user or current_restaurant != review.dish.restaurant %}
                                {% set new_day = true %}
                                {% set iterator = iterator+1 %}
                                {% set current_day = review.when %}
                                {% set current_user = review.user %}
                                {% set current_restaurant = review.dish.restaurant %}
                            {% else %}
                                {% set new_day = false %}
                            {% endif %}



                            {% if new_day %}
                                {% if not loop.first %}
                                </div>
                            </dd>
                                {% endif %}

                            <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix">
                                <div class="circ"></div>
                                <div class="time">{{ review.when|localizeddate('medium', 'none') }}</div>
                                <div class="events">
                            {% else %}
                                <hr>
                            {% endif %}

                                    {#<div class="row">#}

                                        {#{% if review.photoName %}#}
                                        {#<div class="col-xs-12 col-sm-4">#}
                                            {#<a href="{{ dish_url }}">#}
                                                {#<img class="img-rounded" src="{{ vich_uploader_asset(review, 'dish_photo') | imagine_filter('square') }}" width="100%">#}
                                            {#</a>#}
                                        {#</div>#}
                                        {#{% endif %}#}

                                        {#<div class="col-xs-12 {% if review.photoName %}col-sm-8{% endif %}">#}

                                            <div class="events-body">
                                                {% if review.photoName %}
                                                    <a href="{{ dish_url }}">
                                                        <img class="img-rounded" src="{{ vich_uploader_asset(review, 'dish_photo') | imagine_filter('large') }}" width="100%">
                                                    </a>
                                                {% endif %}

                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <h3>
                                                            <a href="{{ dish_url }}">
                                                                {{ review.dish.name }}
                                                            </a>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        {% if app.user and app.user == review.user %}
                                                            <div class="pull-right">
                                                                &nbsp;
                                                                <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-default btn-xs">
                                                                    <small><span class="glyphicon glyphicon-pencil"></span> Edit</small>
                                                                </a>
                                                            </div>
                                                        {% endif %}

                                                        <div class="pull-right">
                                                            {% include 'ApplicationMainBundle:Common:rating.html.twig' with {'rating': review.rank} %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <p>
                                                    <a href="{{ restaurant_url }}" class="second">
                                                        <span class="glyphicon glyphicon-map-marker"></span>
                                                        {{ review.dish.restaurant.name }}
                                                    </a>
                                                </p>


                                                <div class="readmore">
                                                    {% if user is not defined and (not app.user or (app.user and app.user != review.user)) %}
                                                        <a href="{{ path('user_timeline', {'slug':review.user.slug}) }}" class="second">
                                                            <span class="glyphicon glyphicon-user"></span> {{ review.user }}
                                                        </a>:
                                                    {% endif %}
                                                    {{ review.review }}
                                                </div>

                                                {% if review.personalNote and app.user and app.user.id == review.user.id %}
                                                    <blockquote class="blockquote-reverse">
                                                        <p><i>{{ review.personalNote }}</i></p>
                                                        <footer>My personal note</footer>
                                                    </blockquote>
                                                {% endif %}


                                                <br>
                                                <p class="text-center">
                                                    <a href="#" data-open-comments="comments{{ review.id }}">
                                                        <span class="glyphicon glyphicon-comment"></span>
                                                        2 comments
                                                    </a>
                                                </p>
                                                <div id="comments{{ review.id }}" class="collapse">
                                                    <p class="text-center">
                                                        <b>Comments</b>
                                                    </p>
                                                    <p>
                                                        <a href="{{ path('user_timeline', {'slug':review.user.slug}) }}" class="second">
                                                            {{ review.user }}
                                                        </a>:
                                                        bla bla bla bla bla bla bla
                                                    </p>
                                                    <p>
                                                        <a href="{{ path('user_timeline', {'slug':review.user.slug}) }}" class="second">
                                                            {{ review.user }}
                                                        </a>:
                                                        bla bla bla bla bla bla bla
                                                    </p>
                                                </div>

                                                {% if app.user %}
                                                <form class="comment-form" data-add-comment="comments{{ review.id }}">
                                                    <div class="{% if app.user.id == review.user.id %}form-group{% else %}input-group{% endif %}">
                                                        {% if app.user.id != review.user.id %}
                                                        <span class="input-group-btn">
                                                            <button id="yummy{{ review.id }}" class="btn btn-default" data-yummy="{{ review.id }}" type="button">
                                                                <span class="glyphicon glyphicon-heart-empty"></span> Yummy!
                                                            </button>
                                                        </span>
                                                        {% endif %}
                                                        <input type="text" class="form-control comment-input" placeholder="Add a comment">
                                                    </div>
                                                </form>
                                                {% endif %}
                                            </div>
                                        {#</div>#}
                                    {#</div>#}
                        {% endfor %}
                                </div>
                            </dd>

                    {% elseif log['registerAt'] is defined %}

                        {% set iterator = iterator+1 %}

                        <dd class="{% if iterator is odd %}pos-left{% else %}pos-right{% endif %} clearfix">
                            <div class="circ"></div>
                            <div class="time">{{ log['registerAt']|localizeddate('medium', 'none') }}</div>
                            <div class="events">
                                <div class="events-body">
                                    <p>
                                        <span class="glyphicon glyphicon-heart"></span>
                                        <i>The very first time on</i> GimmeThe<b>Menu</b>
                                    </p>
                                </div>
                            </div>
                        </dd>

                    {% endif %}
                {% endfor %}
            </dl>
        </div>
    </div>
</div>

{% if app.user %}
<div id="comment_template">
    <p>
        <a href="{{ path('user_timeline', {'slug':app.user.slug}) }}" class="second">
            {{ app.user }}
        </a>:
        <span class="comment"></span>
    </p>
</div>
{% endif %}