{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
    'title': 'Add a meal for ' ~ restaurant.name ~ ' - Restaurant',
    'description': 'Add a group of dishes form for ' ~ restaurant.name
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>{{ restaurant.country }}</li>
        <li>{{ restaurant.locality }}</li>
        <li class="active"><a href="{{ path('restaurant_show', restaurant.paramsForUrl) }}">{{ restaurant.name }}</a></li>
    </ol>


    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a meal <small>(group of dishes)</small></h3>
                </div>
                <div class="panel-body">

                    {{ form_start(form_dish) }}

                    {{ form_errors(form_dish) }}

                    <div class="form-group">
                        {{ form_label(form_dish.name) }}
                        {{ form_errors(form_dish.name) }}
                        {{ form_widget(form_dish.name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form_dish.price) }}
                        {{ form_errors(form_dish.price) }}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="input-group">
                                    {{ form_widget(form_dish.price, {'attr': {'class': 'form-control', 'placeholder': '0.00'}}) }}
                                    <span class="input-group-addon">€</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <h4>Add the first dish</h4>
                    <p class="help-block">For example the starter</p>

                    {% for children_dish in form_dish.dishes %}

                        <div class="form-group">
                            {{ form_label(children_dish.name) }}
                            {{ form_errors(children_dish.name) }}
                            {{ form_widget(children_dish.name, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(children_dish.dishType) }}
                            {{ form_errors(children_dish.dishType) }}
                            {{ form_widget(children_dish.dishType, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        {% for review in children_dish.reviews %}
                            {% include 'ApplicationMainBundle:Review:reviewWithoutWhenContentForm.html.twig' with {'review': review} %}
                        {% endfor %}

                        <hr>
                    {% endfor %}


                    <div class="form-group">
                        {{ form_label(form_dish.when) }}
                        {{ form_errors(form_dish.when) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_widget(form_dish.when, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Next step</button>

                    {{ form_rest(form_dish) }}
                    {{ form_end(form_dish) }}

                </div>
            </div>

        </div>
    </div>

{% endblock %}