{% set photos = [] %}
    {% for review in dish.reviews if review.photoName %}
        {% set photos = photos|merge([review]) %}
    {% endfor %}


<ol class="breadcrumb">
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li>{{ dish.restaurant.country }}</li>
    <li>{{ dish.restaurant.locality }}</li>
    <li class="active"><a href="{{ path('restaurant_show', dish.restaurant.paramsForUrl) }}">{{ dish.restaurant }}</a></li>
</ol>

<h1>
    &ldquo;{{ dish.name }}&rdquo;
    <span class="label label-warning price">
        {{ dish.price }}{#<small>,00</small>#}&nbsp;€
    </span>
</h1>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <a href="{{ path('restaurant_show', dish.restaurant.paramsForUrl) }}">{{ dish.restaurant.name }}</a>
        <br>{{ dish.restaurant.address }}
    </div>

    <div class="col-xs-12 col-md-6">
        {# addthis sharing tools #}
        <div class="addthis_sharing_toolbox pull-right">Share:</div>
    </div>
</div>


<hr>

<div class="row">

    {% for childDish in dish.dishes %}

        <div class="col-xs-6 col-sm-3 col-md-2">
            {% include 'ApplicationMainBundle:Dish:dishThumbnail.html.twig' with {'dish': childDish} %}
        </div>

    {% endfor %}

    <div class="col-xs-6 col-sm-3 col-md-2">

        {% if app.user %}
            <a href="{{ path('dish_child_add', dish.paramsForUrl) }}" class="btn btn-primary">Add a dish</a>
        {% endif %}

    </div>

</div><!-- /row -->