{% extends '::base.html.twig' %}

{% block title %}{{ dish.name }} - {{ dish.restaurant.name }} - Restaurant - {{ dish.restaurant.locality }}{% endblock %}

{% block body %}
    {% set restaurant_url = path('restaurant_show', {
        'country_slug': dish.restaurant.country.slug,
        'locality_slug': dish.restaurant.locality.slug,
        'restaurant_slug': dish.restaurant.slug
    }) %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>{{ dish.restaurant.country }}</li>
        <li>{{ dish.restaurant.locality }}</li>
        <li class="active"><a href="{{ restaurant_url }}">{{ dish.restaurant }}</a></li>
    </ol>

    <h1>
        &ldquo;{{ dish.name }}&rdquo;
    </h1>

    <p class="restaurantAddress">
        <span class="label label-warning label-lg price">9<small>,00</small>&nbsp;€</span>

        <br>
        All time:
        {% include 'ApplicationMainBundle:Common:rating.html.twig' with {'rating': dish.averageRating} %}

        {#
        Last 10: <3 <3 <3 <3 <3
        #}

        <br>
        <a href="{{ restaurant_url }}">{{ dish.restaurant.name }}</a>, {{ dish.restaurant.address }}
    </p>
    <hr>

    <nav class="navbar navbar-inverse navbar-fixed-bottom visible-xs-block" role="navigation">
        <div class="container">
            <ul class="nav nav-pills">
                <li><a href="#photos">Photos</a></li>
                <li><a href="#reviews">Reviews</a></li>
                <li>
                    <a href="#add-my-review" onclick="$('#addMyReviewBtn').click();">
                        Add a review
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <a name="add-my-review"></a>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <p class="text-center">
                <a href="#add-my-review" id="addMyReviewBtn" class="btn btn-primary btn-lg"
                   onclick="$('#reviewForm').show(); $(this).hide();">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Add a review
                </a>
            </p>

            <div class="panel panel-primary collapse" id="reviewForm">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a review</h3>
                </div>
                <div class="panel-body">
                    {% include 'ApplicationMainBundle:Dish:reviewForm.html.twig' with {'form_review': form_review} %}
                </div>
            </div>
        </div>
    </div>


    <a name="photos"></a>

    <div class="row">
        <div class="col-md-6">
            <h2>Photos</h2>

            <div class="well">
                {% if dish.reviews|length == 1 %}

                    {% for review in dish.reviews if review.photoName %}
                        <img src="{{ vich_uploader_asset(review, 'dish_photo') | imagine_filter('large') }}" style="width: 100%" alt="">
                        <p>Added by <a href="{{ path('user_timeline', {'slug':review.user.slug}) }}">{{ review.user }}</a> on {{ review.createdAt|localizeddate('medium', 'none') }}</p>
                    {% endfor %}

                {% else %}

                <div id="dish-photos" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                    {% set iterator = 0 %}
                    {% for review in dish.reviews if review.photoName %}
                        <li data-target="#dish-photos" data-slide-to="{{ iterator }}" {% if iterator == 0 %}class="active"{% endif %}></li>
                        {% set iterator = iterator+1 %}
                    {% endfor %}
                    </ol>

                    <div class="carousel-inner" role="listbox">
                    {% set iterator = 0 %}
                    {% for review in dish.reviews if review.photoName %}
                        <div class="item {% if iterator == 0 %}active{% endif %}">
                            <img src="{{ vich_uploader_asset(review, 'dish_photo') | imagine_filter('large') }}" style="width: 100%" alt="">

                            <div class="carousel-caption">
                                Added by <a href="{{ path('user_timeline', {'slug':review.user.slug}) }}">{{ review.user }}</a> on {{ review.createdAt|localizeddate('medium', 'none') }}</p>
                            </div>
                        </div>
                        {% set iterator = iterator+1 %}
                    {% endfor %}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#dish-photos" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#dish-photos" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                {% endif %}
            </div>
        </div>

        <a name="reviews"></a>

        <div class="col-md-6">
            <h2>Reviews</h2>

            <div class="timeline reviews">
                <dl>
                    {% for review in dish.reviews %}
                    <dd class="pos-right clearfix">
                        <div class="circ"></div>
                        <div class="time hidden-xs">{{ review.when|localizeddate('medium', 'none') }}</div>
                        <div class="events">
                            {% if review.photoName %}
                                <div class="pull-left">
                                    <img class="events-object img-rounded" src="{{ vich_uploader_asset(review, 'dish_photo') | imagine_filter('thumb') }}" width="60">
                                </div>
                            {% endif %}

                            <div class="events-body">
                                <h4 class="events-heading">
                                    <a href="{{ path('user_timeline', {'slug':review.user.slug}) }}">{{ review.user }}</a>
                                </h4>

                                <div class="visible-xs-block">on {{ review.when|localizeddate('medium', 'none') }}</div>

                                {% include 'ApplicationMainBundle:Common:rating.html.twig' with {'rating': review.rank} %}

                                <p>
                                    {{ review.review }}
                                </p>

                                {% if review.personalNote and app.user.id == review.user.id %}
                                <blockquote class="blockquote-reverse">
                                    <p><i>{{ review.personalNote }}</i></p>
                                    <footer>My personal note</footer>
                                </blockquote>
                                {% endif %}
                            </div>
                        </div>
                    </dd>
                    {% endfor %}

                </dl>
            </div><!-- reviews -->

        </div><!-- /col-md-6 -->
    </div><!-- /row -->
{% endblock %}