<div class="form-group">
    {{ form_label(review.rank) }} *
    {{ form_errors(review.rank) }}
    {{ form_widget(review.rank, {'attr': {
        'class': 'rating form-control',
        'data-icon-lib': 'glyphicon',
        'data-active-icon': 'glyphicon-heart',
        'data-inactive-icon': 'glyphicon-heart-empty',
        'data-min': '1',
        'data-max': '5'
    }}) }}
</div>

<div class="form-group">
    {{ form_label(review.when) }} *
    {{ form_errors(review.when) }}
    <div class="row">
        <div class="col-md-4">
            {{ form_widget(review.when, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>

{% if review.review is defined %}
<div class="form-group">
    {{ form_label(review.review) }} *
    <p class="help-block">At least 20 characters, humor required!</p>
    {{ form_errors(review.review) }}
    {{ form_widget(review.review, {'attr': {'class': 'form-control', 'rows': 8}}) }}
</div>
{% endif %}

{% if review.photoFile is defined %}
<div class="form-group">
    {{ form_label(review.photoFile) }}
    {{ form_errors(review.photoFile) }}

    {% set photoName = review.vars.value.photoName %}
    {% if photoName %}
        <p>
            <img class="img-rounded" src="{{ vich_uploader_asset(review.vars.value, 'dish_photo') | imagine_filter('thumb') }}">
        </p>
        <p>Upload a new photo to change it:</p>
    {% endif %}

    {{ form_widget(review.photoFile, {'attr': {'class': 'form-control'}}) }}
</div>
{% endif %}

<div class="form-group">
    {{ form_label(review.personalNote) }}
    <p class="help-block">
        Because there is a personal story over a meal.
        <br>This won't be published ; only you will see it.
    </p>
    {{ form_errors(review.personalNote) }}
    {{ form_widget(review.personalNote, {'attr': {'class': 'form-control', 'rows': 5}}) }}
</div>