<div class="form-group">
    {{ form_label(review.rank) }}
    {{ form_errors(review.rank) }}
    {{ form_widget(review.rank, {'attr': {
        'class': 'rating form-control',
        'data-icon-lib': 'glyphicon',
        'data-active-icon': 'glyphicon-heart',
        'data-inactive-icon': 'glyphicon-heart-empty',
        'data-min': '1',
        'data-max': '5'
    }}) }}
</div>

<div class="form-group">
    {{ form_label(review.review) }}
    {{ form_errors(review.review) }}
    {{ form_widget(review.review, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(review.photoFile) }}
    {{ form_errors(review.photoFile) }}
    {#<p>The dish! Say &ldquo;sheeez&rdquo;!</p>#}
    {{ form_widget(review.photoFile, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form-group">
    {{ form_label(review.personalNote) }}
    <p class="help-block">
        Because there is a personal story over a meal.
        <br>This won't be published ; only you will see it.
    </p>
    {{ form_errors(review.personalNote) }}
    {{ form_widget(review.personalNote, {'attr': {'class': 'form-control'}}) }}
</div>