{% if project_responses %}
    <h2><a name="mes-reponses"></a>Mes propositions</h2>
    <ul>
        {% for response in project_responses %}
            <li>
                {{ response.description|nl2br }}

                {% if response.projectResponseFiles|length > 0 %}
                    <p>
                        <b>Fichier attachés :</b>
                    <ul>
                        {% for responseFile in response.projectResponseFiles %}
                            <li>
                                {% if responseFile.documentName %}
                                    <a href="{{ vich_uploader_asset(responseFile, 'project_response_file') }}" target="_blank">
                                        {{ responseFile.name }}
                                    </a>
                                {% else %}
                                    {{ responseFile.name }} <small>(pas de fichier attaché)</small>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    </p>
                {% endif %}

                <p>
                    <small>
                        Proposition soumise le {{ response.createdAt|localizeddate('medium', 'short') }}

                        {% if response.createdAt != response.updatedAt %}
                            <br />Modifiée le {{ response.updatedAt|localizeddate('medium', 'short') }}
                        {% endif %}


                        {% if project.status == 20 %}
                            | <a href="{{ path('projectresponse_edit', { id: response.id }) }}">Modifier</a>
                        {% endif %}
                    </small>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endif %}