<div class="well">

    {% if restaurant.restaurantMenuFiles|length > 0 %}
    <div class="row images-gallery">

        {% for key, menuFile in restaurant.restaurantMenuFiles %}
            <div class="col-xs-4 col-sm-3 col-md-1">
                <div>
                    <a href="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file')|imagine_filter('largest') }}"
                       class="zoom-hover"
                       title="Added by {{ menuFile.user }}"
                       data-msrc="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file')|imagine_filter('thumb') }}"
                       data-size="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file')|imagine_filter('largest')|image_size('x') }}"
                       >
                       <img src="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file')|imagine_filter('square') }}" class="img-rounded">
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
    {% endif %}

    <button type="button" data-toggle="modal" data-target="#menuModal" class="btn btn-primary btn-sm">
        {% if restaurant.restaurantMenuFiles|length > 0 %}
            The menu has changed or is incomplete?
        {% else %}
            Upload photos of the menu
        {% endif %}
    </button>

</div>




<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="menuModalLabel">
                    {% if restaurant.restaurantMenuFiles|length > 0 %}
                        The menu has changed or is incomplete?
                    {% else %}
                        Upload photos of the menu
                    {% endif %}
                </h4>
            </div>

            {% if app.user %}
                {{ form_start(form_restaurant_menu) }}
            {% endif %}

            <div class="modal-body">
                <p>Take photos of the menu with your mobile and upload them!</p>

                {% if not app.user %}

                    {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

                {% else %}

                    {{ form_errors(form_restaurant_menu) }}

                    <div class="form-group">
                        {{ form_errors(form_restaurant_menu.file) }}
                        {{ form_widget(form_restaurant_menu.file, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    {{ form_rest(form_restaurant_menu) }}

                {% endif %}
            </div>

            <div class="modal-footer">
                {% if app.user %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endif %}
            </div>

            {% if app.user %}
                {{ form_end(form_restaurant_menu) }}
            {% endif %}
        </div>
    </div>
</div>