{% extends '::base.html.twig' %}

{% block title %}{{ restaurant.name }} - {{ restaurant.locality }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>{{ restaurant.country }}</li>
        <li class="active">{{ restaurant.locality }}</li>
    </ol>

    <h1>
        &ldquo;{{ restaurant.name }}&rdquo;
    </h1>

    <p class="restaurantAddress">
        {{ restaurant.address }}<br />
       @todo:
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
    </p>

    <ul class="nav nav-pills visible-xs-block">
        <li><a href="#menu">Menu</a></li>
        <li><a href="#dishes">Dishes</a></li>
        <li><a href="#address">Address</a></li>
    </ul>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <h2><a name="menu"></a>The menu</h2>

            {% if restaurant.restaurantMenuFiles|length > 0 %}
            <div class="panel">
                <div class="tabbable tabs-below">
                    <div id="myTabContent" class="tab-content">
                        {% for key, menuFile in restaurant.restaurantMenuFiles %}
                        <div class="tab-pane {% if key==0 %} active{% endif %}" id="menu{{ key+1 }}">
                            <img src="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file') }}" class="img-responsive" style="width:100%">
                            <br>
                            Added by <b>{{ menuFile.user }}</b> on {{ menuFile.createdAt|localizeddate('medium', 'none') }}
                        </div>
                        {% endfor %}
                    </div>

                    <ul id="myTab1" class="nav nav-tabs nav-justified">
                        {% for key, menuFile in restaurant.restaurantMenuFiles %}
                            <li{% if key==0 %} class="active"{% endif %}><a href="#menu{{ key+1 }}" data-toggle="tab">{{ key+1 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if restaurant.restaurantMenuFiles|length > 0 %}
                            The menu has changed or is incomplete?
                        {% else %}
                            You're the first one!
                        {% endif %}
                        Gimme the menu!
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        Take a photo of the menu with your mobile and upload it!
                    </div>


                    {{ form_start(form_restaurant_menu) }}

                    <div
                        class="collection"
                        data-label-add="Add one more photo"
                        data-label-delete="Delete"
                        data-label-delete-confirm="Delete this field ?"
                        data-prototype="{{ form_widget(form_restaurant_menu.restaurantMenuFiles.vars.prototype)|e }}"
                        >
                        {% for menuFile in form_restaurant_menu.restaurantMenuFiles %}
                        <div class="collection_item">
                            {{ form_widget(menuFile.fileFile) }}
                        </div>
                        {% endfor %}
                    </div>

                    {{ form_rest(form_restaurant_menu) }}

                    <hr>
                    <button type="submit" class="btn btn-primary">Submit</button>

                    {{ form_end(form_restaurant_menu) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <h2><a name="dishes"></a>The dishes</h2>

            {#<div class="alert alert-info">#}
                {#There are not yet published dish for this restaurant.#}
            {#</div>#}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Dibs!</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        Add the first dish for this restaurant
                    </div>

                    <form role="form">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="name" type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Price</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="0,00">
                                        <span class="input-group-addon">€</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">Photo</label>
                            <input type="file" id="exampleInputFile">
                        </div>

                        <div class="form-group">
                            <label>Your review</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="radio" name="note" value="1">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </label><br>
                            <label>
                                <input type="radio" name="note" value="2">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </label><br>
                            <label>
                                <input type="radio" name="note" value="3">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </label><br>
                            <label>
                                <input type="radio" name="note" value="4">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </label><br>
                            <label>
                                <input type="radio" name="note" value="5">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>When?</label>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>

            {#
            <h2><i>Voilà</i> the dishes</h2>

            <div class="well">
                Choose one below for reviews and see photos.
                You can also add your own review and photos.
                Or <a href="#" class="btn btn-xs btn-primary">add a dish</a>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img class="img-rounded" src="img/samples/burger.jpg"></a>
                        <div class="caption text-center">
                            <h3><a href="#">Hamburgueur français</a></h3>
                            <p>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </p>

                            <p>
                                <a href="#"><span class="label label-success">
                                    2 reviews, 3 photos
                                </span></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img class="img-rounded" src="img/samples/pizza.png"></a>
                        <div class="caption text-center">
                            <h3><a href="#">Pizza quattro formaggi</a></h3>
                            <p>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img class="img-rounded" src="img/samples/pizza.png"></a>
                        <div class="caption text-center">
                            <h3><a href="#">Pizza du chef</a></h3>
                            <p>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </p>
                            <p>
                                <a href="#"><span class="label label-success">
                                    1 photo
                                </span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <a href="#"><img class="img-rounded" src="img/samples/burger.jpg"></a>
                        <div class="caption text-center">
                            <h3><a href="#">Hamburgueur français</a></h3>
                            <p>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </p>

                            <p>
                                <a href="#"><span class="label label-success">
                                    1 review
                                </span></a>
                            </p>
                        </div>
                    </div>
                </div>

            </div><!-- /row -->
            #}


        </div><!-- /col-md-6 -->
    </div><!-- /row -->

    <h2><a name="address"></a>The address</h2>
    <div class="well">
        <p>
            <b>{{ restaurant.name }}</b><br>
            {{ restaurant.fullAddress }}<br>
            Tel: {{ restaurant.internationalPhoneNumber }}
        </p>

        <div id="map_restaurant"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var restaurantPosition = { 'lat':{{ restaurant.locationLat }}, 'lng':{{ restaurant.locationLng }} };
    </script>
{% endblock %}