{% extends '::base.html.twig' %}

{% block title %}{{ restaurant.name }} - Restaurant - {{ restaurant.locality }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>{{ restaurant.country }}</li>
        <li class="active">{{ restaurant.locality }}</li>
    </ol>

    <h1>
        &ldquo;{{ restaurant.name }}&rdquo;
    </h1>

    <p class="restaurantAddress">
        {{ restaurant.address }}

        {#
        <br />@todo:
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        #}
    </p>

    <nav class="navbar navbar-inverse navbar-fixed-bottom visible-xs-block" role="navigation">
        <div class="container">
            <ul class="nav nav-pills">
                <li><a href="#menu">Menu</a></li>
                <li><a href="#dishes">Dishes</a></li>
                {% if app.user %}
                    <li>
                        <a href="#add-a-dish" onclick="$('#addDishForm').show();">
                            Add a dish
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>



    <hr>

    <div class="row">
        <div class="col-md-6">
            <h2><a name="menu"></a>The menu</h2>

            {% if restaurant.restaurantMenuFiles|length > 0 %}
            <div class="panel">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        {% for key, menuFile in restaurant.restaurantMenuFiles %}
                        <div class="tab-pane {% if key==0 %} active{% endif %}" id="menu{{ key+1 }}">
                            <img src="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file') | imagine_filter('large') }}" class="img-responsive" style="width:100%">
                            <br>
                            Added by <a href="{{ path('user_timeline', {'slug':menuFile.user.slug}) }}">{{ menuFile.user }}</a>
                            on {{ menuFile.createdAt|localizeddate('medium', 'none') }}
                        </div>
                        {% endfor %}
                    </div>

                    {#<div class="text-center">
                        <ul class="sync-pagination pagination-sm"></ul>
                        <div id="sync-example-page-content" class="well">Page 1</div>
                        <ul class="sync-pagination pagination-sm"></ul>
                    </div>#}

                    <ul class="nav nav-tabs">
                        {% for key, menuFile in restaurant.restaurantMenuFiles %}
                            <li{% if key==0 %} class="active"{% endif %}>
                                <a href="#menu{{ key+1 }}" data-toggle="tab">
                                    {{ key+1 }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if restaurant.restaurantMenuFiles|length > 0 %}
                            The menu has changed or is incomplete?
                        {% else %}
                            You're the first one!
                        {% endif %}
                        Gimme the menu!
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="alert alert-warning">
                        Take a photo of the menu with your mobile and upload it!
                    </div>

                    {% if not app.user %}

                        {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

                    {% else %}

                        {% include 'ApplicationMainBundle:Restaurant:menuForm.html.twig' with {'form_restaurant_menu': form_restaurant_menu} %}

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <h2>The dishes</h2>

        {% if dishes|length == 0 %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Dibs!</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        Add the first dish for this restaurant
                    </div>

                    {% if not app.user %}

                        {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

                    {% else %}

                        {% include 'ApplicationMainBundle:Dish:dishForm.html.twig' with {'form_dish': form_dish} %}

                    {% endif %}
                </div>
            </div>

        {% else %}





            <div class="well">
                Choose one below to see reviews and photos.

                <a name="add-a-dish"></a>
            {% if app.user %}
                Or <a href="#" class="btn btn-primary" onclick="$('#addDishForm').toggle(); return false">add a dish</a>
            {% else %}
                Or you can add a dish if you're logged. {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}
            {% endif %}
            </div>

            {% if app.user %}
            <div id="addDishForm" class="panel panel-info collapse">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a dish or a drink</h3>
                </div>
                <div class="panel-body">

                    {% include 'ApplicationMainBundle:Dish:dishForm.html.twig' with {'form_dish': form_dish} %}

                </div>
            </div>
            {% endif %}

            <a name="dishes"></a>
            <div class="row">

                {% for dish in dishes %}

                    {% set dish_url = path('dish_show', {
                        'country_slug': dish.restaurant.country.slug,
                        'locality_slug': dish.restaurant.locality.slug,
                        'restaurant_slug': dish.restaurant.slug,
                        'dish_slug': dish.slug
                    }) %}

                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="thumbnail">

                    {% if dish.reviews[0].photoName %}
                        <a href="{{ dish_url }}">
                            <img class="img-rounded" src="{{ vich_uploader_asset(dish.reviews[0], 'dish_photo') | imagine_filter('thumb') }}">
                        </a>
                    {% endif %}

                        <div class="caption text-center">
                            <h3><a href="{{ dish_url }}">{{ dish.name }}</a></h3>

                            {% include 'ApplicationMainBundle:Common:rating.html.twig' with {'rating': dish.averageRating} %}

                            <p>
                                <a href="{{ dish_url }}">
                                    <span class="label label-info">{{ dish.dishType }}</span>
                                    <span class="label label-warning">{{ dish.price }}&nbsp;&euro;</span>
                                    <span class="label label-success">
                                        {{ dish.reviews|length }} review
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div><!-- /row -->
        {% endif %}


        </div><!-- /col-md-6 -->
    </div><!-- /row -->

    <h2><a name="address"></a>The address</h2>
    <div class="well">
        <p>
            <b>{{ restaurant.name }}</b><br>
            {{ restaurant.fullAddress }}<br>
            Tel: {{ restaurant.internationalPhoneNumber }}
        </p>

        <div id="map_restaurant"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var restaurantPosition = { 'lat':{{ restaurant.locationLat }}, 'lng':{{ restaurant.locationLng }} };
    </script>
{% endblock %}