{% extends '::base.html.twig' %}

{% block head_meta %}
    {% set meta = {
        'title': restaurant.name ~ ' - Restaurant - ' ~ restaurant.locality,
        'description': 'View the menu and dishes reviews for ' ~ restaurant.name
    } %}
    {% include 'ApplicationMainBundle:Common:headMeta.html.twig' with { 'meta': meta } %}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li>{{ restaurant.country }}</li>
        <li class="active">{{ restaurant.locality }}</li>
    </ol>

    <h1>
        &ldquo;{{ restaurant.name }}&rdquo;
    </h1>



    <nav class="navbar navbar-inverse navbar-fixed-bottom visible-xs-block" role="navigation">
        <div class="container">
            <ul class="nav nav-pills">
                <li><a href="#menu">Menu</a></li>

                {% if dishes|length > 0 %}
                    <li><a href="#dishes">Dishes</a></li>
                {% endif %}

                {% if app.user %}
                    <li>
                        <a href="#" data-toggle="modal" data-target="#addDishModal">
                            Add a dish
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div class="row">
        <div class="col-xs-6">
            <address class="well" id="restaurant-address-link">
                <a href="#" title="show the map">
                    <span class="glyphicon glyphicon-map-marker"></span>
                    {{ restaurant.address }}
                </a>

                {#
                <br />@todo:
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                #}
            </address>
        </div>

        <div class="col-xs-6">
            <div class="addthis_sharing_toolbox pull-right"></div>
        </div>
    </div>


    <div class="modal" id="restaurantMapModal" tabindex="-1" role="dialog" aria-labelledby="restaurantMapModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="restaurantMapModalLabel">
                        <i>{{ restaurant.name }}</i> address
                    </h4>
                </div>

                <div class="modal-body">
                    <address>
                        {{ restaurant.fullAddress }}<br>
                        <abbr title="Phone">P:</abbr> {{ restaurant.internationalPhoneNumber }}
                    </address>

                    <div id="map_restaurant"></div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>




    <h2 id="menu">The menu</h2>

    {% include 'ApplicationMainBundle:Restaurant:menu_content.html.twig' %}



    <h2>The dishes</h2>

    {% include 'ApplicationMainBundle:Restaurant:dishes_content.html.twig' %}


    {# include template for photoswipe #}
    {% include 'ApplicationMainBundle:Common:photoswipe.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    <script>
        var restaurantPosition = { 'lat':{{ restaurant.locationLat }}, 'lng':{{ restaurant.locationLng }} };
    </script>
{% endblock %}