{% extends '::base.html.twig' %}

{% block title %}{{ restaurant.name }} - Restaurant - {{ restaurant.locality }}{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>{{ restaurant.country }}</li>
        <li class="active">{{ restaurant.locality }}</li>
    </ol>

    <h1>
        &ldquo;{{ restaurant.name }}&rdquo;
    </h1>

    <p class="restaurantAddress">
        {{ restaurant.address }}

        {#
        <br />@todo:
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        #}
    </p>

    <ul class="nav nav-pills visible-xs-block">
        <li><a href="#menu">Menu</a></li>
        <li><a href="#dishes">Dishes</a></li>
        <li><a href="#address">Address</a></li>
    </ul>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <h2><a name="menu"></a>The menu</h2>

            {% if restaurant.restaurantMenuFiles|length > 0 %}
            <div class="panel">
                <div class="tabbable tabs-below">
                    <div class="tab-content">
                        {% for key, menuFile in restaurant.restaurantMenuFiles %}
                        <div class="tab-pane {% if key==0 %} active{% endif %}" id="menu{{ key+1 }}">
                            <img src="{{ vich_uploader_asset(menuFile, 'restaurant_menu_file') }}" class="img-responsive" style="width:100%">
                            <br>
                            Added by <b>{{ menuFile.user }}</b> on {{ menuFile.createdAt|localizeddate('medium', 'none') }}
                        </div>
                        {% endfor %}
                    </div>

                    {#<div class="text-center">
                        <ul class="sync-pagination pagination-sm"></ul>
                        <div id="sync-example-page-content" class="well">Page 1</div>
                        <ul class="sync-pagination pagination-sm"></ul>
                    </div>#}

                    <ul class="nav nav-tabs">
                        {% for key, menuFile in restaurant.restaurantMenuFiles %}
                            <li{% if key==0 %} class="active"{% endif %}><a href="#menu{{ key+1 }}" data-toggle="tab">{{ key+1 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% if restaurant.restaurantMenuFiles|length > 0 %}
                            The menu has changed or is incomplete?
                        {% else %}
                            You're the first one!
                        {% endif %}
                        Gimme the menu!
                    </h3>
                </div>

                <div class="panel-body">
                    <div class="alert alert-warning">
                        Take a photo of the menu with your mobile and upload it!
                    </div>

                    {% if not app.user %}

                        {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

                    {% else %}

                        {% include 'ApplicationMainBundle:Restaurant:menuForm.html.twig' with {'form_restaurant_menu': form_restaurant_menu} %}

                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <h2><a name="dishes"></a>The dishes</h2>

        {% if dishes|length == 0 %}

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Dibs!</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning">
                        Add the first dish for this restaurant
                    </div>

                    {% if not app.user %}

                        {% include 'ApplicationMainBundle:Security:loginOrSigninLinks.html.twig' with {'redirect': restaurant_url} %}

                    {% else %}

                        {% include 'ApplicationMainBundle:Restaurant:dishForm.html.twig' with {'form_dish': form_dish} %}

                    {% endif %}
                </div>
            </div>

        {% else %}

            <div class="well">
                Choose one below for reviews and see photos.
                You can also add your own review and photos.
                Or <a href="#" class="btn btn-primary" onclick="$('#addDishForm').toggle(); return false">add a dish</a>
            </div>

            <div id="addDishForm" class="panel panel-info collapse">
                <div class="panel-heading">
                    <h3 class="panel-title">Add a dish</h3>
                </div>
                <div class="panel-body">

                    {% include 'ApplicationMainBundle:Restaurant:dishForm.html.twig' with {'form_dish': form_dish} %}

                </div>
            </div>

            <div class="row">

                {% for dish in dishes %}
                <div class="col-xs-6 col-sm-4 col-md-4">
                    <div class="thumbnail">

                    {% if dish.reviews[0].photoName %}
                        <a href="#"><img class="img-rounded" src="{{ vich_uploader_asset(dish.reviews[0], 'dish_photo') }}"></a>
                    {% endif %}

                        <div class="caption text-center">
                            <h3><a href="#">{{ dish.name }}</a></h3>
                            {#<p>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </p>#}

                            <p>
                                <a href="#">
                                    <span class="label label-info">{{ dish.dishType }}</span>
                                    <span class="label label-warning">{{ dish.price }}&nbsp;&euro;</span>
                                    <span class="label label-success">
                                        {{ dish.reviews|length }} review
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div><!-- /row -->
        {% endif %}


        </div><!-- /col-md-6 -->
    </div><!-- /row -->

    <h2><a name="address"></a>The address</h2>
    <div class="well">
        <p>
            <b>{{ restaurant.name }}</b><br>
            {{ restaurant.fullAddress }}<br>
            Tel: {{ restaurant.internationalPhoneNumber }}
        </p>

        <div id="map_restaurant"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var restaurantPosition = { 'lat':{{ restaurant.locationLat }}, 'lng':{{ restaurant.locationLng }} };
    </script>
{% endblock %}